*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu Tas Beginner', sans-serif;
}

header {
    height: 120px;
    background-size: cover;
    background-image: url("img/wall.png");
}

main {
    background-image: url("img/cork.png");
}

#container-header {
    text-align: center;
    font-size: xx-large;
    padding-block: 20px;
}

#container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 600px;
    width: 600px;
}