*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120px;
    background-size: cover;
    background-image: url("img/wall.png");
    font-family: 'Edu Tas Beginner', sans-serif;
}

main {
    background-image: url("img/cork.png");
}

img {
    max-width: 100%;
}

#container-header {
    text-align: center;
    font-size: xx-large;
    padding-block: 20px;
}

#container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
    gap: 20px;
}

.card {
    position: relative;
    width: 250px;
    padding: 10px;   
    background-color: white;
    cursor: pointer;   
    box-shadow: 3px 3px 3px black;
    text-transform: uppercase;
}

.date {
    font-family: 'Sometype Mono', monospace;
    color: grey;
}

.title {
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 25px;
}

.pin {
    position: absolute;
    transform: translate(100px, -20px);
}

.card:hover {
    z-index: 900;
    transform: rotate(12deg) scale(1.1);
    box-shadow: 5px 5px 5px black;
}

.card:hover .pin {
    display: none;
}


